@font-face {
    font-family: 'Roboto-Light';
    src: url(Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

.titulo {
    font-family: Roboto-Regular;
}

.inputs {
    font-family: Roboto-Light;
}
#cadastro{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

